/* src/components/GoogleMapComponent.css */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.place-picker-container {
    padding: 10px;
}

gmp-map {
    height: 500px;
    width: 100%;
    display: block;
}
